// _colors.scss

// Celestial Blues
$ocean-spray: #6ec1e4;
$angel-white: #f5fcff;
$baby-blue: #9edff2;
$deep-navy: #000080;
$electric-indigo: #7df9ff;
$royal-reign: #4169e1;
$twilight-indigo: #4b0082;
$sapphire-skies: #0f52ba;
$denim-days: #1560bd;
$skyward-blue: #87ceeb;
$cobalt-current: #0047ab;

// Enchanted Greens
$grasshopper: #4caf50;
$lime-zest: #8bc34a;
$emerald-jewel: #50c878;
$sage-whisper: #9ea587;
$olive-harvest: #808000;
$turquoise-oasis: #40e0d0;
$deep-forest: #228b22;
$lime-spritz: #32cd32;
$jungle-depths: #006400;
$seafoam-surf: #71eeb8;
$deep-lagoon: #008b8b;
$teal-temptation: #008b8b;

// Radiant Reds and Pinks
$wine-cellar: #800020;
$blood-red: #8b0000;
$tropical-coral: #ff7f50;
$crimson-romance: #dc143c;
$rose-petal: #ff66b2;
$powder-pink: #fadadd;
$cranberry-crush: #db5079;
$blushing-pink: #f4afaf;
$coral-kiss: #f88379;
$hot-pink-passion: #ff69b4;
$dusty-rose: #c79791;
$dark-red: #8b0000;

// Golden Yellows and Oranges
$sunflower: #ffeb3b;
$glimmering-gold: #ffd700;
$golden-mustard: #e1ad01;
$autumn-rust: #d2691e;
$sunset-orange: #cc5500;
$amber-glow: #ffbf00;
$intense-orange: #ff8c00;
$tangerine-twist: #ffa07a;
$golden-rod: #daa520;
$buttercup-yellow: #fdfd96;
$golden-yellow: #ffdf00;

// _colors.scss

// Elegant Purples
$amethyst: #9370db;
$velvet-maroon: #800000;
$lavender-dream: #e6e6fa;
$plum-perfection: #8e4585;
$aubergine: #614051;
$magenta-mystery: #ff00ff;
$eggplant: #614051;
$deep-teal: #008b8b;
$midnight-waltz: #191970;
$bright-purple: #be03fd;

// Earthy Browns, Tans, and Grays
$shiny-silver: #c0c0c0;
$desert-sand: #f5f5dc;
$sage-whisper: #9ea587;
$olive-harvest: #808000;
$khaki-canvas: #f0e68c;
$charcoal-night: #36454f;
$slate-stone: #708090;
$whipped-cream: #fffdd0;
$sun-kissed-tan: #d2b48c;
$timeless-taupe: #483c32;
$navy-blueberry: #003c71;
$chocolate-bliss: #3d1a00;
$rich-chocolate-brown: #3d1a00;
$ivory-tower: #fffff0;
$cream: #fffdd0;

// Mixed and Unique Shades
$ancient-bronze: #cd7f32;
$champagne-mist: #f7e7ce;
$teal-treasure: #008080;
$peach-sorbet: #ffdab9;
$seafoam-green: #98ff98;
$burnt-sienna: #e97451;
$pale-blue: #afeeee;
$rich-navy-blue: #003c71;
$vintage-wine: #722f37;
$denim-blue: #1560bd;
$pastel-yellow: #fdfd96;
$blush-pink: #f4afaf;
$coral-pink: #f88379;
$wine-red: #722f37;
$chartreuse: #7fff00;
$burnt-orange: #cc5500;
$electric-blue: #7df9ff;
$sky-blue: #87ceeb;
$forest-green: #228b22;
$cranberry: #db5079;
$sapphire-blue: #0f52ba;
$bright-blue: #0000ff;
