// Import colors
@import './colors.scss';

// Colors
$primary: #239c8e;
$secondary: $rose-petal;
$accent: #8b249c;
$dark: #332b2b;
$dark-page: #1a1a1a;
$positive: #adffc0;
$negative: #b34e00;
$info: #c4dd3a;
$warning: #e8b12d;
$text: #000000;
$light-text: #111111;
$background: #ffffff;

// Typography
$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;

// Spacing
$spacing-base: 8px;

// Breakpoints
$small: 600px;
$medium: 960px;
$large: 1280px;
