// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import './_colors';
@import './_crayolanomicon';

$primary: #f0c3d3;
$secondary: #239c8e;
$accent: #8b249c;

$dark: #332b2b;
$dark-page: #1a1a1a;

$positive: #adffc0;
$negative: #b34e00;
$info: #c4dd3a;
$warning: #e8b12d;

$presets: (
  'Default': (
    primary: $rose-petal,
    secondary: $sunflower,
    tertiary: $emerald-jewel,
    quaternary: $golden-yellow,
    quinary: $denim-blue,
    senary: $blush-pink,
    light: $baby-blue,
    accent: $sky-blue,
    dark: $charcoal-night,
  ),
  'Whimsical Dream': (
    primary: $deep-navy,
    secondary: $angel-white,
    tertiary: $lime-spritz,
    quaternary: $sunset-orange,
    quinary: $blushing-pink,
    senary: $bright-purple,
    light: $skyward-blue,
    accent: $emerald-jewel,
    dark: $midnight-waltz,
  ),
  'Nautical Treasure': (
    primary: $sapphire-blue,
    secondary: $golden-rod,
    tertiary: $amethyst,
    quaternary: $shiny-silver,
    quinary: $olive-harvest,
    senary: $powder-pink,
    light: $emerald-bay,
    accent: $coral-reef,
    dark: $charcoal-night,
  ),
  'Celestial Wonder': (
    primary: $ocean-spray,
    secondary: $angel-white,
    tertiary: $cobalt-current,
    quaternary: $sapphire-skies,
    light: $baby-blue,
    accent: $electric-indigo,
  ),
  'Enchanted Forest': (
    primary: $emerald-jewel,
    secondary: $deep-forest,
    tertiary: $jungle-depths,
    quaternary: $sage-whisper,
    light: $seafoam-surf,
    accent: $lime-zest,
  ),
  'Golden Sunrise': (
    primary: $sunflower,
    secondary: $glimmering-gold,
    tertiary: $autumn-rust,
    quaternary: $golden-rod,
    light: $buttercup-yellow,
    accent: $sunset-orange,
  ),
  'Eldritch-Whispers': (
    primary: $cthulhu-green,
    secondary: $deep-one-teal,
    tertiary: $shoggoth-black,
    quaternary: $dagon-blue,
    quinary: $deep-one-green,
    senary: $shoggoth-slime-green,
    light: $whippoorwill-white,
    accent: $lovecraft-green,
    dark: $deeper-than-black,
  ),
  'Chaos-and-Order': (
    primary: $nyarlathotep-purple,
    secondary: $elder-sign-blue,
    tertiary: $yog-sothoth-yellow,
    quaternary: $azathoth-yellow,
    quinary: $hastur-yellow,
    senary: $yog-sothoth-red,
    light: $mountain-of-madness-white,
    accent: $non-euclidean-blue,
    dark: $nightgaunt-black,
  ),
  'Alien-Mysteries': (
    primary: $color-out-of-space-violet,
    secondary: $mi-go-gray,
    tertiary: $yithian-blue,
    quaternary: $elder-thing-blue,
    quinary: $mi-go-pink,
    senary: $yithian-yellow,
    light: $polaris-silver,
    accent: $mi-go-brown,
    dark: $deeper-than-black,
  ),
);
